body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(58, 58, 158, 0.9);
    color: white;
}

#header {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    line-height: 0.6;
}

#title {
    font-weight: 600;
}

#description {
    display: block;
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.2;
    font-style: italic;
}

label, p {
    display: flex;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#survey-form {
    margin: auto;
    max-width: 630px;
    background-color: rgba(27, 27, 50, 0.8);
    padding: 40px;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    min-height: 40px;
    font-size: 1.125rem;
}

select {
    color: gray;
}

.inputTextArea {
    width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 1.125rem;
}

input[type="radio"], input[type="checkbox"] {
    margin-right: 8px;
    align-self: center;
    height: 15px;
    width: 15px;
}

#submit {
    min-height: 45px;
    background-color: rgb(55 175 101);
    color: white;
    border-style: hidden;
}